---
import BaseLayout from '../layouts/BaseLayout.astro'

import ContactCTA from '../components/ContactCTA.astro'
import Hero from '../components/Hero.astro'
---

<BaseLayout
  title="About | Edgar Benavides"
  description="About Edgar Benavides Lorem Ipsum"
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Thanks for stopping by. Read below to learn more about myself and my background."
      />

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content grid gap-3">
          <p>
            With over two years of experience as a full-stack web developer, my
            primary focus has been on crafting dynamic and user-friendly
            applications.
          </p>
          <p>
            My expertise lies in JavaScript, which I've adeptly used to build
            robust front-end interfaces and create interactive user experiences.
            Leveraging my proficiency in HTML, CSS, and modern front-end
            frameworks, I've designed responsive and visually appealing
            websites.
          </p>
          <p>
            Additionally, my back-end skills encompass Node.js and Express,
            enabling me to develop efficient server-side functionalities.
            Embracing best practices and clean code, I continuously strive to
            deliver high-quality and scalable solutions that drive positive
            outcomes for clients and users alike.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p>
            <strong>Computer Systems Engineer,</strong> graduated from the <strong
              ><a href="https://surguanajuato.tecnm.mx/" target="_blank"
                >Instituto Tecnológico Superior del Sur de Guanajuato.</a
              ></strong
            >
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <p>
            HTML | CSS | Tailwind CSS | JavaScript | TypeScript | Node.js |
            React.js | Express | Docker | Git | GitHub | Astro | Java | SQL |
            NoSQL
          </p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
